.search-filter-container {
    display: flex;
    align-items: center;
    padding: 7px 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #e9edef;
    height: 49px;
    box-sizing: border-box;
}

.search-filter-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 8px;
    padding: 0 12px;
    margin-right: 8px;
    height: 35px;
}

.search-icon-btn {
    background: none;
    border: none;
    padding: 0;
    margin-right: 20px;
    color: #54656f;
    cursor: auto;
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    line-height: normal;
    color: #111b21;
    padding: 0;
    margin-left: -10px;
    /* Remove default padding */
    width: 100%;
}

.search-input::placeholder {
    color: #54656f;
}

.filter-icon-btn {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    color: #54656f;
    display: flex;
    align-items: center;
}

/* Icons sizing */
.search-icon-btn svg,
.filter-icon-btn svg {
    margin-top: 2px;
    width: 18px;
    height: 18px;
    /* Slight alignment adjustment */
}

/* Dark Mode */
.dark-mode .search-filter-container {
    background-color: #111b21;
    border-bottom: 1px solid #202c33;
}

.dark-mode .search-filter-wrapper {
    background-color: #202c33;
}

.dark-mode .search-icon-btn,
.dark-mode .filter-icon-btn,
.dark-mode .search-input::placeholder {
    color: #8696a0;
}

.dark-mode .search-input {
    color: #e9edef;
}