.new-message-form {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    min-height: 62px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.new-message-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
}

.new-message-input {
    flex: 1;
    border: none;
    padding: 9px 12px 11px;
    margin: 5px 2px;
    font-size: 15px;
    line-height: 20px;
    min-height: 20px;
    max-height: 100px;
    /* basic constraint */
    outline: none;
    resize: none;
    /* Disable manual resize */
    font-family: inherit;
    color: #111b21;
}

.new-message-container-icons {
    color: #0a0a0a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    gap: 10px;

}

.new-message-container-icons span {
    width: 24px;
    height: 24px;
    transform: scale(1.3);
    cursor: pointer;
    padding-top: 2px;
}

.new-message-container-icons i {
    padding: 5px;
    border-radius: 50%;
}

.new-message-container-icons i:hover {
    background-color: rgba(0, 0, 0, 0.1);

}

.new-message-input::placeholder {
    color: #8696a0;
}

.new-message-btn {
    background-color: #1daa61;
    border: none;
    padding: 8px 8px;
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* Visual alignment with single line input */
}

.new-message-btn:hover {
    background-color: #1daa61;
    transform: scale(1.05);
}

/* Visually Hidden for accessibility label */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Dark Mode */
.dark-mode .new-message-form {
    background-color: #202c33;
}

.dark-mode .new-message-input {
    background-color: #2a3942;
    color: #e9edef;
}

.dark-mode .new-message-input::placeholder {
    color: #8696a0;
}

.dark-mode .new-message-btn {
    color: #8696a0;
}

.dark-mode .new-message-btn:hover {
    color: #e9edef;
}