.messages-list-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
}

/* Custom Scrollbar */
.messages-list-container::-webkit-scrollbar {
    width: 6px;
}

.messages-list-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.messages-list-container::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Dark Mode */
.dark-mode .messages-list-container {
    background-color: #0b141a;
}